<!-- Navegação -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/home']">Minha App Angular</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/produtos']">Produtos</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/sobre']">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/contato']">Contato</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/demos']">Features</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Fim Navegação -->  